<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="
  http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/beans/spring-context.xsd">

	<bean class="com.springcore.Student" name="student1">
		<property name="studentId">
			<value>22344</value>
		</property>

		<property name="studentName">
			<value>durgesh</value>
		</property>

		<property name="studentAddress">
			<value>delhi</value>
		</property>
	</bean>


	<!--value as a attibute-->
	<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="22345" />
		<property name="studentName" value="ramesh singh" />
		<property name="studentAddress" value="gurgaon" />
	</bean>

	<!--p as a parameter-->
	<bean class="com.springcore.Student" name="student3" p:studentId="22346"
		p:studentName="suresh" p:studentAddress="mumbai" />

    

</beans>
